@model IEnumerable<WebAppCovidStat.Models.StatInfo>

@{
    ViewBag.Title = "AboutCity";
}

<h2>AboutCity</h2>
<head>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
        </tr>
    }

</table>

<div id="chartContainer"></div>
<script type="text/javascript">

    window.onload = function () {
        var chart = new CanvasJS.Chart("chartContainer", {
            title: {
                text: "Desktop Search Engine Market Share, Jul-2016"
            },
            animationEnabled: true,
            legend: {
                verticalAlign: "center",
                horizontalAlign: "left",
                fontSize: 20,
                fontFamily: "Helvetica"
            },
            theme: "light2",
            data: [
                {
                    type: "pie",
                    indexLabelFontFamily: "Garamond",
                    indexLabelFontSize: 20,
                    indexLabel: "{label}: {y}",
                    startAngle: -20,
                    showInLegend: true,
                    toolTipContent: "{legendText}: {y}",
                    dataPoints: @Html.Raw(ViewBag.DataPoints)

                }
            ]
        });
        chart.render();
    };
</script>
